/*
used colors:
darkbrown: #2d1c16
grey:  #333;
white:
gold: d5c455
*/

/* set blocks to default*/
*{
    padding: 0;
    box-sizing: border-box;
    width:100%;
    margin:0;
    /* border:1px solid red; */
    font-family: Verdana;
}
img{
    /*set size of images according to container*/
    max-width: 100%;
    max-height: 100%;
}
/*header section*/
header{
    background-color: #333;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    top:0;
    z-index:1;
}

.header-logo-container{
    color: white;
    width:30%;
    font-size: x-large;
    letter-spacing: 5px;
}
.header-logo-container a{
    /* all anchor link under header logo will have this*/
    color:#d5c455;
    text-decoration: none;
    font-family:Cursive ;
    text-shadow: 1px 1px black;
}
.header-logo-container a:hover{
    /* all anchor link under header logo when hovered will have this*/
    box-shadow: 0px 0px 2px 2px #d5c455;
    border-radius: 5px;
    padding: 10px;
}

.navigation-container nav{
    width:100%;
    font-size: large;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}
.navigation-container a{
    /* all link under nav container will be affected*/
    color: white;
    padding:18px;
    text-decoration:none;
}
.navigation-container a:hover{
    /*change color on hover*/
    color: white;
    background-color:#d5c455;
}
.icon{
    /* this is the burger icon
    only appears when screen size is phone
    
    hides or unhides menu when clicked*/
    display:none;
}
/* back to top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width:60px;
    border:1px solid white;
}
  
#myBtn:hover {
    background-color: white;
    color:#333;
}

main{
    background-color: #d5c455
}
/*=======Home Section-===============*/
.home-container{
    display:flex;
    flex-direction:column;        
}

.home-sub-container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.home-sub-content-words{
    text-align:center;    
    background-color: white;
    width: 70%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-sub-content-words  h1{
    font-size: xxx-large;
    color: black;
}
.home-sub-content-words  h2{
    font-size: 30px;
    color: #d5c455;
    text-shadow: 1px 1px #333;
}
.home-sub-image-container{
    height: 100vh;
    width: 30%;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.home-sub-image-container > img{
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.home-sub-content-words a{
    width: 20%;
    padding: 20px;
    font-size: 20px;
    background-color: #333;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.home-sub-content-words a:hover{
    background-color: #d5c455;
}

.resume-section{
    background-color:white;
    height:100vh;
    text-align:center;
    height: 100vh;
}
.resume-section > h2{
    /* design for Work Experience */
    color: #d5c455;
    text-shadow: 1px 1px #333;
    font-size: xxx-large;
}
.resume-section > a{
    /* design for download CV button */
    color: #d5c455;
    font-size: large;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    padding:5px;
    font-weight:900;
}
.resume-section > a:hover{
    /* design for download cv button on hover */
    padding: 5px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}
/* used for work experience and the like*/
.card-container{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
}
.card{
    margin: 10px;
    background-color: #d5c455;
    box-shadow: 0px 5px 5px 0px #333;
    width: 40%;
    height: calc(100vh/3);
    border-radius: 5px 5px 5px 5px;
}
.card:hover{
    background-color: #333;
    color: #d5c455;
}
.card-content{
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* make sure this is the same height as the one card*/
    height: calc(100vh/3);
}
.card-container h3{
    color:white;
    font-size: x-large;
    text-shadow: 1px 1px #333;
}




/* tech section*/

.technologies-words{
    text-align:center;
    height: 50vh;
    padding: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.technologies-words > h2 {
    font-size:xxx-large;
    color: white;
    text-shadow: 1px 1px #333;
}
.technologies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:auto;
    justify-content: center;
}
.fieldset-container{
    display:flex;
    flex-direction:column;
    /* border:1px solid red */
    width: 20%;
    margin:20px;
    border:0;
}
.fieldset-container legend{
    text-align: center;
    font-weight: bold;
    font-size:large;
    color: white;
    text-shadow: 1px 1px #333;
}
.tech-cards{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    margin: 10px;
}
.tech-cards div{
    text-align:center;
    color: white;
    font-weight: bold;
}


/* what I do section */
.services-container{
    height:100vh;
    background-color: #333;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-words{
    height: auto;
    padding: 10px;
    text-align:center;
    font-size: xx-large;
    color: #eee;
}
.services-words > h2,h3{
    text-shadow: 1px 1px black;
}
.service-cards{
    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.service-cards-content{
    height: 40vh;
    margin:10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #d5c455;
    color:white;
    font-size: 30px;
}
.service-cards-content:hover{
    background-color: black;
    color: #d5c455;
}

/* projects section */
.projects-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.projects-words{
    text-align:center;
    height: auto;
    padding: 20px;
    font-size: xx-large;
    color:white;
    text-shadow: 1px 1px #333;
}

/* project cards sections */
.projects-cards{
    display: flex;
    flex-direction: row;
}

/* projects card fonts and links */
.projects-sub-cards{
    text-align:center;
    font-size: x-large;
    color:white;
}
.projects-sub-cards > h3{
    color: #333;
    font-size: x-large;
    text-shadow: none;
}
.projects-sub-cards a{
    color:white;
    text-decoration:none;
    text-shadow: 1px 1px #333;
}
.projects-sub-cards a:hover{
    background-color: #333;
    padding:5px;
    border-radius: 5px;
}
.projects-cards-content{
    height:50vh;
    width: 90%;
    margin: 10px;
    opacity: 0.7;
}
.projects-cards-content:hover{
    opacity: 1.0;
    border: 2px solid #d5c455;
}


/* contact me section */
.contactme-container{
    height:auto;
    background-color: #333;
    padding: 20px;
}
.contactme-container > h2{
    text-align:center;
    color: #eee;
    margin:10px;
    font-size:xxx-large;
    letter-spacing: 3px;
    text-shadow: 1px 1px black;
}
/* form section */
.mainform-container{
    display: flex;
    flex-direction: row;
}
.form-container{
    display:flex;
    flex-direction: column;
    width: 70%;
}
.form-sub-container{
    display:flex;
    width: 80%;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding: 10px;
}
/* label design */
.form-sub-container label{
    width: 20%;
    color: white;
    padding: 10px;
    font-size: large;
    text-shadow: 1px 1px black;
}
.form-sub-container input,
.form-sub-container textarea{
    width: 100%;
    border: 1px solid black;
    padding:10px;
    border-radius: 5px 5px 5px 5px;
    background-color: lightgrey;
    font-size: large;
    color: #333;
}
.form-btn-container{
    width: 80%;
    margin-left:auto;
    margin-right:auto; 
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.form-btn{
    width: 40%;
    padding:10px;
    font-size: large;
    color: #333;
    margin:5px;
}

.form-sub-container textarea:hover{
    background-color: white;
}
.form-sub-container input:hover{
    background-color:white;
    color:black;
    border: 1px solid white;
}
.image-container{
    width:20%;
}
.image-container div{
    color:#d5c455;
    font-size: xx-large;
    font-family: cursive;
    text-shadow: 1px 1px black;
}

/* slider carousel */
.mySlides {
    display:none;
    border-radius: 50%;
    height: 50%;
}

/* footer section */
footer{
    height: auto;
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
}
footer  h2{
    text-align:center;
}

.footer-card{
    display:flex;
    flex-direction:column;
    width:25%;
    margin:10px;
    align-items: center;
}
.footer-card nav{
    display:flex;
    flex-direction:column;
}
.footer-card a,
.footer-card div{
    text-align:center;
    padding:10px;
    text-decoration:none;
    color:white;
    font-family:cursive;
}
.footer-card a:hover,
.footer-card div:hover{
    color:#d5c455;
}

.footer-card-container{
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    border-radius:50%;
}
.footer-card h2{
    text-shadow: 1px 1px #d5c455;
}
.copy-section{
    color:white;
    text-align:center;
    background-color:#333;
    padding: 20px;
}